# CONFIG_ACCESSIBILITY is not set
# CONFIG_AUXDISPLAY is not set
# CONFIG_BACKLIGHT_LCD_SUPPORT is not set
# CONFIG_BT is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_FPGA is not set
# CONFIG_GREYBUS is not set
# CONFIG_HAMRADIO is not set
# CONFIG_HID is not set
# CONFIG_HID_PID is not set
# CONFIG_IIO is not set
CONFIG_KERNEL_GZIP=y
# CONFIG_KERNEL_LZO is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_NET_9P is not set
# CONFIG_NFC is not set
# CONFIG_RC_CORE is not set
# CONFIG_SOUND is not set
# CONFIG_TYPEC is not set
# CONFIG_UIO is not set
# CONFIG_USBIP_CORE is not set
# CONFIG_USB_ADUTUX is not set
# CONFIG_USB_APPLEDISPLAY is not set
# CONFIG_USB_CHAOSKEY is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_EEM is not set
# CONFIG_USB_CONFIGFS_F_FS is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_LB_SS is not set
# CONFIG_USB_CONFIGFS_F_PRINTER is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_OBEX is not set
# CONFIG_USB_CONFIGFS_PHONET is not set
# CONFIG_USB_CONFIGFS_SERIAL is not set
# CONFIG_USB_CYPRESS_CY7C63 is not set
# CONFIG_USB_CYTHERM is not set
# CONFIG_USB_DWC3 is not set
# CONFIG_USB_EHSET_TEST_FIXTURE is not set
# CONFIG_USB_EMI26 is not set
# CONFIG_USB_EMI62 is not set
# CONFIG_USB_EZUSB_FX2 is not set
# CONFIG_USB_FTDI_ELAN is not set
# CONFIG_USB_HID is not set
# CONFIG_USB_HSIC_USB3503 is not set
# CONFIG_USB_IDMOUSE is not set
# CONFIG_USB_IOWARRIOR is not set
# CONFIG_USB_ISIGHTFW is not set
# CONFIG_USB_LCD is not set
# CONFIG_USB_LD is not set
# CONFIG_USB_LEGOTOWER is not set
# CONFIG_USB_MDC800 is not set
# CONFIG_USB_MICROTEK is not set
# CONFIG_USB_PRINTER is not set
# CONFIG_USB_RIO500 is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB_SEVSEG is not set
# CONFIG_USB_SISUSBVGA is not set
# CONFIG_USB_STORAGE_ALAUDA is not set
# CONFIG_USB_STORAGE_CYPRESS_ATACB is not set
# CONFIG_USB_STORAGE_DATAFAB is not set
# CONFIG_USB_STORAGE_ENE_UB6250 is not set
# CONFIG_USB_STORAGE_FREECOM is not set
# CONFIG_USB_STORAGE_ISD200 is not set
# CONFIG_USB_STORAGE_JUMPSHOT is not set
# CONFIG_USB_STORAGE_KARMA is not set
# CONFIG_USB_STORAGE_ONETOUCH is not set
# CONFIG_USB_STORAGE_REALTEK is not set
# CONFIG_USB_STORAGE_SDDR09 is not set
# CONFIG_USB_STORAGE_SDDR55 is not set
# CONFIG_USB_STORAGE_USBAT is not set
# CONFIG_USB_TEST is not set
# CONFIG_USB_TMC is not set
# CONFIG_USB_TRANCEVIBRATOR is not set
# CONFIG_USB_UAS is not set
# CONFIG_USB_WUSB_CBAF is not set
# CONFIG_USB_XHCI_HCD is not set
# CONFIG_USB_YUREX is not set
# CONFIG_W1 is not set
# CONFIG_WIMAX is not set
# CONFIG_USB_KBD is not set
# CONFIG_USB_MOUSE is not set
